<header class="header" id="header">
    <div class="container">
        <div class="logo">
            <a class="logo__link" href="#">
                <svg class="logo__svg" width="66" height="52">
                    <use href="./images/logo.svg"></use>
                </svg>
            </a>
        </div>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-list__item"><a class="nav-list__link" href="#header">Home</a></li>
                <li class="nav-list__item"><a class="nav-list__link" href="#hero">About</a></li>
                <li class="nav-list__item"><a class="nav-list__link" href="#reviews">Service</a></li>
                <li class="nav-list__item"><a class="nav-list__link" href="#favorites">Menu</a></li>
                <li class="nav-list__item"><a class="nav-list__link" href="#footer">Contact</a></li>
            </ul>
        </nav>
        <button class="modal-open" data-modal-open>Order Now</button>
        <div class="backdrop is-hidden" data-modal>
            <div class="modal">
                <button class="modal__close" data-modal-close>
                    <svg width="24" height="24" style="
    padding-left: 2px; ">
                        <use href="./images/sprite.svg#icon-close"></use>
                    </svg>
                </button>
                <h3 class="modal__title">Order Form</h3>
                <form class="modal-form" modal-form>
                    <div class="modal__main-content-form">
                        <label class="modal__label">
                            &emsp;Name
                            <input class="input" type="text" name="name" placeholder="&ensp;Your name" required>
                            <p class="form-error"></p>
                        </label>
                        <label class="modal__label">
                            &emsp;Phone number
                            <input class="input" type="tel" name="tel" placeholder="&ensp;+38(0_ _) _ _ _   _ _   _ _" required>
                            <p class="form-error"></p>
                        </label>
                        <label class="modal__label">
                            &emsp;E-mail
                            <input class="input" type="email" name="email" placeholder="&ensp;example@gmail.com" required>
                            <p class="form-error"></p>
                        </label>
                    </div>
                    <button class="modal__submit" type="submit" modal-submit>Send</button>
                </form>
            </div>
        </div>
        <button class="burger-open" data-burger-open>
            <svg class="burger-open__svg" width="24" height="24">
                <use href="./images/sprite.svg#icon-burger"></use>
            </svg>
        </button>
        <div class="burger displaynone" data-burger>
            <button class="burger-close" data-burger-close>
                <svg width="24" height="24">
                    <use href="./images/sprite.svg#icon-close"></use>
                </svg>
            </button>
            <ul class="bnav-list">
                <li class="bnav-list__item"><a class="bnav-list__link" href="#header">Home</a></li>
                <li class="bnav-list__item"><a class="bnav-list__link" href="#hero">About</a></li>
                <li class="bnav-list__item"><a class="bnav-list__link" href="#reviews">Service</a></li>
                <li class="bnav-list__item"><a class="bnav-list__link" href="#favorites">Menu</a></li>
                <li class="bnav-list__item"><a class="bnav-list__link" href="#footer">Contact</a></li>
            </ul>
        </div>
    </div>
</header>