<section class="hero">
    <div class="container">
        <div class="hero-content">
            <h1 class="hero-content__title">Enjoy Your Favorite Food From Anywhere</h1>
            <p class="hero-content__description">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Suspendisse varius enim in eros elementum
                tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae
                erat.</p>
            <button class="hero-content__button">Order Now</button>
        </div>
        <div class="slider">
            <ul class="slider-buttons-list">
                <li class="slider-buttons-list__item">
                    <button class="slider-buttons-list__button slider-buttons-list__button--prev" type="button"
                        data-slider-prevBtn>
                        <!-- <svg width="15px" height="24px">
                            <use href="./images/symboldefs.svg#left"></use>
                        </svg> -->
                    </button>
                </li>
                <li class="slider-buttons-list__item">
                    <button class="slider-buttons-list__button slider-buttons-list__button--next" type="button"
                        data-slider-nextBtn>
                        <!-- <svg width="15px" height="24px">
                            <use href="./images/symboldefs.svg#right"></use>
                        </svg> -->
                    </button>
                </li>
            </ul>

            <ul class="slider-list">
                <li class="slider-list__item">
                    <!-- <picture>
                        <source srcset="./images/img-diving-desktop.webp     1x,
                                ./images/img-diving-desktop@2x.webp 2x" media="(min-width: 1280px)">
                        <source srcset="./images/img-diving-tablet.webp    1x,
                                ./images/img-diving-tablet@2x.webp     2x" media="(min-width: 768px)">
                        <source srcset="./images/img-diving.webp   1x, 
                                ./images/img-diving@2x.webp   2x" media="(min-width: 320px)">
                        <img src="./images/img-diving.webp" alt="Diving">
                    </picture> -->
                </li>
                <li class="slider-list__item">
                    <!-- <picture>
                        <source srcset="./images/img-diving-desktop.webp     1x,
                                ./images/img-diving-desktop@2x.webp 2x" media="(min-width: 1280px)">
                        <source srcset="./images/img-diving-tablet.webp    1x,
                                ./images/img-diving-tablet@2x.webp     2x" media="(min-width: 768px)">
                        <source srcset="./images/img-diving.webp   1x, 
                                ./images/img-diving@2x.webp   2x" media="(min-width: 320px)">
                        <img src="./images/img-diving.webp" alt="Diving">
                    </picture> -->
                </li>
                <li class="slider-list__item">
                    <!-- <picture>
                        <source srcset="./images/img-diving-desktop.webp     1x,
                                ./images/img-diving-desktop@2x.webp 2x" media="(min-width: 1280px)">
                        <source srcset="./images/img-diving-tablet.webp    1x,
                                ./images/img-diving-tablet@2x.webp     2x" media="(min-width: 768px)">
                        <source srcset="./images/img-diving.webp   1x, 
                                ./images/img-diving@2x.webp   2x" media="(min-width: 320px)">
                        <img src="./images/img-diving.webp" alt="Diving">
                    </picture> -->
                </li>
            </ul>
        </div>

        <div class="hero__picture">
            <!-- <picture>
                        <source srcset="./images/img-diving-desktop.webp     1x,
                                ./images/img-diving-desktop@2x.webp 2x" media="(min-width: 1280px)">
                        <source srcset="./images/img-diving-tablet.webp    1x,
                                ./images/img-diving-tablet@2x.webp     2x" media="(min-width: 768px)">
                        <source srcset="./images/img-diving.webp   1x, 
                                ./images/img-diving@2x.webp   2x" media="(min-width: 320px)">
                        <img src="./images/img-diving.webp" alt="Diving">
                    </picture> -->
        </div>
        <div class="hero-content2">
            <h2 class="hero-content2__title">What’s Special About Our Offerings</h2>
            <p class="hero-content2__description">Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit. Suspendisse varius enim in eros elementum tristique. 
                Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
            <ul class="hero-content2-list">
                <li class="hero-content2-list__item">
                    <div class="hero-content2-list__icon"></div>
                    <h3 class="hero-content2-list__title">Fasest Delivery</h3>
                    <p class="hero-content2-list__description">Lorem ipsum dolor sit amet, consectetur 
                        adipiscing elit. Suspendisse varius enim in eros.</p>
                </li>
                <li class="hero-content2-list__item">
                    <div class="hero-content2-list__icon"></div>
                    <h3 class="hero-content2-list__title">Easy To Order</h3>
                    <p class="hero-content2-list__description">Lorem ipsum dolor sit amet, consectetur 
                        adipiscing elit. Suspendisse varius enim in eros.</p>
                </li>
            </ul>
            <button class="hero-content2__button">Order Now</button>
        </div>
    </div>
</section>