<section class="hero">
    <div class="container">
        <div class="hero-content">
            <h1 class="hero-content__title">Enjoy Your Favorite Food From Anywhere</h1>
            <p class="hero-content__description">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit. Suspendisse varius enim in eros elementum
                tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae
                erat.</p>
            <button class="hero-content__button" data-modal-open>Order Now</button>
        </div>
        <div class="slider">
            <ul class="slider-buttons-list">
                <li class="slider-buttons-list__item">
                    <button class="slider-buttons-list__button slider-buttons-list__button--prev" type="button"
                        data-slider-prevBtn>
                        <svg width="48px" height="40px">
                            <use href="./images/sprite.svg#icon-arrow-left"></use>
                        </svg>
                    </button>
                </li>
                <li class="slider-buttons-list__item">
                    <button class="slider-buttons-list__button slider-buttons-list__button--next" type="button"
                        data-slider-nextBtn>
                        <svg width="48px" height="40px">
                            <use href="./images/sprite.svg#icon-arrow-right"></use>
                        </svg>
                    </button>
                </li>
            </ul>

            <ul class="slider-list">
                <li class="slider-list__item">
                    <picture>
                        <source srcset="./images/salad-desktop.webp     1x,
                                ./images/salad-desktop@2x.webp 2x" media="(min-width: 1280px)">
                        <source srcset="./images/salad-tablet.webp    1x,
                                ./images/salad-tablet@2x.webp     2x" media="(min-width: 768px)">
                        <img src="./images/salad-tablet.webp" alt="Salad">
                    </picture>
                </li>
                <li class="slider-list__item">
                    <picture>
                        <source srcset="./images/salad2-desktop.webp     1x,
                                ./images/salad2-desktop@2x.webp 2x" media="(min-width: 1280px)">
                        <source srcset="./images/salad2-tablet.webp    1x,
                                ./images/salad2-tablet@2x.webp     2x" media="(min-width: 768px)">
                        <img src="./images/salad2-tablet.webp" alt="Salad">
                    </picture>
                </li>
                <li class="slider-list__item">
                    <picture>
                        <source srcset="./images/salad3-desktop.webp     1x,
                                ./images/salad3-desktop@2x.webp 2x" media="(min-width: 1280px)">
                        <source srcset="./images/salad3-tablet.webp    1x,
                                ./images/salad3-tablet@2x.webp     2x" media="(min-width: 768px)">
                        <img src="./images/salad3-tablet.webp" alt="Salad">
                    </picture>
                </li>
            </ul>
        </div>

        <div class="hero__part2">
            <div class="hero__picture">
                <picture>
                    <source srcset="./images/big-apple-desktop.webp     1x,
                                ./images/big-apple-desktop@2x.webp 2x" media="(min-width: 1280px)">
                    <source srcset="./images/big-apple-tablet.webp    1x,
                                ./images/big-apple-tablet@2x.webp     2x" media="(min-width: 768px)">
                    <source srcset="./images/big-apple-mobile.webp   1x, 
                                ./images/big-apple-mobile@2x.webp   2x" media="(min-width: 320px)">
                    <img src="./images/big-apple-mobile.webp" alt="Apple">
                </picture>
                <img class="hero__picture--dop hero__picture--dop--first" src="./images/big-apple-tablet-dop1.webp"
                    alt="dop apple">
                <img class="hero__picture--dop" src="./images/big-apple-tablet-dop2.webp" alt="dop apple">
            </div>
            <div class="hero-content2">
                <h2 class="hero-content2__title">What’s Special About Our Offerings</h2>
                <p class="hero-content2__description">Lorem ipsum dolor sit amet, consectetur
                    adipiscing elit. Suspendisse varius enim in eros elementum tristique.
                    Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
                </p>
                <ul class="hero-content2-list">
                    <li class="hero-content2-list__item">
                        <div class="hero-content2-list__icon">
                            <svg width="32px" height="32px">
                                <use href="./images/rocket-icon.svg"></use>
                            </svg>
                        </div>
                        <h3 class="hero-content2-list__title">Fasest Delivery</h3>
                        <p class="hero-content2-list__description">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Suspendisse varius enim in eros.</p>
                    </li>
                    <li class="hero-content2-list__item">
                        <div class="hero-content2-list__icon">
                            <svg width="32px" height="32px">
                                <use href="./images/touch-icon.svg"></use>
                            </svg>
                        </div>
                        <h3 class="hero-content2-list__title">Easy To Order</h3>
                        <p class="hero-content2-list__description">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Suspendisse varius enim in eros.</p>
                    </li>
                </ul>
                <div class="hero-content2__btn-content">
                    <button class="hero-content2__button" data-modal-open>Order Now</button>
                    <a class="hero-content2__link" href="#">Read More &gt;</a>
                </div>
            </div>
        </div>
    </div>
</section>