<section class="favorites">
    <div class="container">
        <h2 class="favorites__title">
            Some of Our Favorites
        </h2>
        <p class="favorites__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>

        <ul class="favorites-list">
            <li class="favorites-list__item">
                <picture>
                    <source srcset="./images/gamburger.webp     1x,
                                ./images/gamburger@2x.webp 2x">
                    <img src="./images/gamburger.webp" alt="Diving">
                </picture>
            </li>
            <li class="favorites-list__item">
                <picture>
                    <source srcset="./images/pasta.webp     1x,
                                ./images/pasta@2x.webp 2x">
                    <img src="./images/pasta.webp" alt="Diving">
                </picture>
            </li>
            <li class="favorites-list__item">
                <picture>
                    <source srcset="./images/pizza.webp     1x,
                                ./images/pizza@2x.webp 2x">
                    <img src="./images/pizza.webp" alt="Diving">
                </picture>
            </li>
            <li class="favorites-list__item">
                <picture>
                    <source srcset="./images/chicken.webp     1x,
                                ./images/chicken@2x.webp 2x">
                    <img src="./images/chicken.webp" alt="Diving">
                </picture>
            </li>
            <li class="favorites-list__item">
                <picture>
                    <source srcset="./images/salat.webp     1x,
                                ./images/salat@2x.webp 2x">
                    <img src="./images/salat.webp" alt="Diving">
                </picture>
            </li>
            <li class="favorites-list__item">
                <picture>
                    <source srcset="./images/borshch.webp     1x,
                                ./images/borshch@2x.webp 2x">
                    <img src="./images/borshch.webp" alt="Diving">
                </picture>
            </li>
        </ul>
    </div>
</section>