<section class="footer">
    <div class="footer__container container">

        <!-- TOP -->
        <div class="footer__top">

            <!-- logo -->
            <div class="logo">
                <a class="logo__link" href="#">
                    <svg class="logo__svg" width="66" height="52">
                        <use href="./images/logo.svg"></use>
                    </svg>
                </a>
            </div>

            <!-- NAVIGATION -->
            <nav class="footer__nav" aria-label="Footer navigation">
                <ul class="footer__menu">
                    <li class="footer__menu-item">
                        <a href="#home" class="footer__menu-link">Home</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#about" class="footer__menu-link">About</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#service" class="footer__menu-link">Service</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#menu" class="footer__menu-link">Menu</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#contact" class="footer__menu-link">Contact</a>
                    </li>
                </ul>
            </nav>

            <!-- SUBSCRIBE -->
            <div class="footer__subscribe">

                <p class="footer__subscribe-title">Subscribe</p>
                <p class="visually-hidden">Email address</p>
                <form class="footer__form" action="#" method="post">
                    <label class="footer__field">
                        <input class="footer__input" type="email" name="email" placeholder="Enter your email"
                            required />
                    </label>

                    <button class="footer__button" type="submit">
                        Subscribe
                    </button>

                </form>

                <p class="footer__policy-text">
                    By subscribing you agree to with our
                    <a href="#" class="footer__policy-link">Privacy Policy</a>
                </p>

            </div>
        </div>

        <!-- BOTTOM -->
        <div class="footer__bottom">

            <!-- LEGAL LINKS -->
            <ul class="footer__legal">
                <li class="footer__legal-item">
                    <a href="#" class="footer__legal-link">Privacy Policy</a>
                </li>
                <li class="footer__legal-item">
                    <a href="#" class="footer__legal-link">Terms of Service</a>
                </li>
                <li class="footer__legal-item">
                    <a href="#" class="footer__legal-link">Cookies Settings</a>
                </li>
            </ul>

            <!-- COPYRIGHT -->
            <p class="footer__copyright">
                2022 FoodSta. All right reserved.
            </p>

        </div>
    </div>
</section>