.reviews {
  position: relative;
  padding: 80px 0 103px;
  background-image: url(../images/reviews-background-mob.webp);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: getBreakPoint(tablet)) {
    padding: 80px 0 120px;
    background-image: url(../images/reviews-background-tab.webp);
  }

  @media screen and (min-width: getBreakPoint(desktop)) {
    padding: 100px 0 200px;
    background-image: url(../images/reviews-background-des.webp);
    position: relative;
    z-index: 2;
  }

  &__header {
    max-width: 520px;
    margin-bottom: 32px;

    @media screen and (min-width: getBreakPoint(tablet)) {
      margin-bottom: 40px;
    }

    @media screen and (min-width: getBreakPoint(desktop)) {
      margin-bottom: 60px;
    }
  }

  &__title {
    margin: 0 0 12px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    color: #2c2c2c;

    @media screen and (min-width: getBreakPoint(tablet)) {
      font-size: 32px;
    }

    @media screen and (min-width: getBreakPoint(desktop)) {
      font-size: 42px;
      line-height: 1.17;
    }
  }

  &__subtitle {
    margin: 0;
    font-size: 14px;
    line-height: 1.29;
    color: #2c2c2c;

    @media screen and (min-width: getBreakPoint(tablet)) {
      font-size: 16px;
      line-height: 1.38;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

    @media screen and (min-width: getBreakPoint(tablet)) {
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
    }

    @media screen and (min-width: getBreakPoint(desktop)) {
      gap: 40px;
    }
  }

  &__item {
    height: 100%;
  }
}


// картки 

.review-card {
  background-color: #ffffff;
  border-radius: 30px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  @media screen and (min-width: getBreakPoint(tablet)) {
    padding: 24px;
  }

  @media screen and (min-width: getBreakPoint(desktop)) {
    padding: 32px;
  }

  &__rating {
    display: flex;
    gap: 4px;
  }

  &__star {
    width: 101px;
    height: 16px;
    background-image: url('../images/Stars.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 1.29;
    color: #2c2c2c;

    @media screen and (min-width: getBreakPoint(tablet)) {
      font-size: 16px;
      line-height: 1.38;
    }
  }

  &__author {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: auto;
  }

  &__avatar {
    flex: 0 0 48px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  &__author-name {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: #2c2c2c;
  }

  &__author-role {
    margin: 4px 0 0;
    font-size: 12px;
    line-height: 1.17;
    color: #505050;
  }
}

