.subscribe {
    position: relative;
    padding: 60px 0 60px;
    background-color: #ffffff;

    @media screen and (min-width: getBreakPoint(tablet)) {
        padding: 80px 0;
    }

    @media screen and (min-width: getBreakPoint(desktop)) {
        padding: 0 0 60px;
        position: relative;
        z-index: 1;
        margin-top: -60px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media screen and (min-width: getBreakPoint(tablet)) {
            gap: 48px;
        }

        @media screen and (min-width: getBreakPoint(desktop)) {
            flex-direction: row;
            align-items: center;
            gap: 70px;
        }
    }

    &__content {
        max-width: 600px;
    }

    &__title {
        margin: 0 0 20px;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.18;
        color: #2c2c2c;

        @media screen and (min-width: getBreakPoint(tablet)) {
            font-size: 32px;
        }

        @media screen and (min-width: getBreakPoint(desktop)) {
            font-size: 42px;
            line-height: 1.17;
        }
    }

    &__text {
        margin: 0 0 32px;
        font-size: 14px;
        line-height: 1.29;
        color: #2c2c2c;

        @media screen and (min-width: getBreakPoint(tablet)) {
            font-size: 16px;
            line-height: 1.38;
            margin-bottom: 40px;
        }
    }

    /* IMAGE */
    &__media {
        position: relative;
        width: 100%;
        max-width: 420px;

        @media screen and (min-width: getBreakPoint(desktop)) {
            max-width: 608px;
            flex-shrink: 0;
        }
    }

    &__image {
        width: 100%;
        height: auto;
        display: block;

        @media screen and (max-width: calc(getBreakPoint(tablet) - 1px)) {
            margin: 0 auto;
        }
    }
}

.subscribe {
  &__media {
    position: relative;
    width: 100%;
    overflow: hidden;

    @media screen and (min-width: getBreakPoint(tablet)) {
      width: 420px;
    }

    @media screen and (min-width: getBreakPoint(desktop)) {
      width: 570px;
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: auto;

    /* mobile */
    max-width: 280px;
    margin: 0 auto;

    @media screen and (min-width: getBreakPoint(tablet)) {
      max-width: 360px;
      margin: 0;
    }

    @media screen and (min-width: getBreakPoint(desktop)) {
      max-width: 608px;
    }
  }
}
